/*////////////////////////
    Table of Contents
    1. PokemonInformation Styles
    2. Media Queries
////////////////////////*/

/* ------------------------------- 1. PokemonInformation Styles -------------------------------- */
.pokemon-information-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    height: 320px;
}

.shiny-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.shiny-pokemon {
    width: 100%;
}

.pokemon-attribute {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pokemon-attribute.centered {
    align-items: center;
    max-width: 200px;
    justify-content: center;
}

.abilities-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ------------------------------- 2. Media Queries -------------------------------- */
