/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.shiny-container {
    display: flex;
    max-width: 200px;
}

.shiny-pokemon {
    width: 100%;
}

.pokemon-attribute {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pokemon-attribute.centered {
    align-items: center;
    max-width: 200px;
}

.abilities-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */