/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Ares
    4. Media Queries
    5. Colors
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */
.pokemon-label {
    font-family: "Roboto", Arial, serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
}
/* ------------------------------- 3. Areas  --------------------------------------- */
.pokemon-label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
}

.pokemon-label.gen {
    color: var(--dark-text);
    border: 2px solid var(--dark-text);
    background-color: transparent;
}

.pokemon-label.gen.active {
    background-color: var(--dark-text);
    color: var(--light-text);
    border-color: var(--dark-text);
    outline: none;
}

.pokemon-label.default {
    color: var(--dark-text);
    border: 2px solid var(--dark-text);
    background-color: transparent;
}

button.pokemon-label {
    cursor: pointer;
}

.pokemon-label.pokemon-type-color {
    color: var(--light-text);
    border: 2px solid var(--type-color);
    background-color: var(--type-color);
}

.pokemon-label.pokemon-type-color.default {
    background-color: transparent;
    color: var(--type-color);
    border-color: var(--type-color);
    outline: none;
}

.pokemon-label.pokemon-type-color.active {
    background-color: var(--type-color);
    color: var(--light-text);
    border-color: var(--type-color);
    outline: none;
}

/* ------------------------------- 4. Media queries ---------------------------------------- */

