/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.suggestions-container {
    display: flex;
    flex-direction: column;
    background-color: var(--light-text);
    width: 100%;
    border-radius: 16px;
    gap: 0;
}

.suggestions-container.layered {
    position: absolute;
    top: 385px;
}

.suggestions-container.standalone {
    background-color: var(--dark-text);
    color: var(--light-text);
}

.suggestion-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    text-align: start;
    border-radius: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: var(--small-details)
}

/* ------------------------------- 5. Media Queries -------------------------------- */