/*////////////////////////
    Table of Contents
    1. SearchSuggestions Styles
    2. Media Queries
////////////////////////*/

/* ------------------------------- 1. SearchSuggestions Styles -------------------------------- */

.suggestions-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    border-radius: 16px;
    gap: 0;
}

.suggestions-container.layered {
    position: absolute;
    top: 240px;
}

.suggestions-container.standalone {
    background-color: var(--dark-text);
    color: var(--white);
}

.suggestion-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    text-align: start;
    border-radius: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: var(--small-details)
}

/* ------------------------------- 2. Media Queries -------------------------------- */
@media screen and (min-width: 768px) {
    .suggestions-container.layered {
        position: absolute;
        top: 235px;
    }
}

@media screen and (min-width: 1200px) {
    .suggestions-container.layered {
        top: 385px;
    }
}