/*////////////////////////
    Table of Contents
    1. GeneralButton Styles
    2. Media Queries
////////////////////////*/

/* ------------------------------- 1. GeneralButton Styles -------------------------------- */

.general-button {
    width: fit-content;
    padding: 15px 35px;
    border: none;
    border-radius: 35px;
    color: var(--light-text);
    background-color: var(--header-background);
    font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
}

.general-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.general-button.charizard {
    background-color: var(--main-color-homepage);
}

.general-button.lucario,
.general-button.snorlax{
    background-color: #057DA3;
}

.general-button.mimikyu {
    background-color: var(--light-color-profile);
}

/* ------------------------------- 2. Media Queries -------------------------------- */
@media screen and (min-width: 992px) {
    .general-button {
        padding: 20px 50px;
        cursor: pointer;
        transition: all .15s ease-in-out;
    }

    .general-button:hover {
        transform: scale(1.03);
    }

    .general-button:disabled {
        transform: none;
    }
}