/*////////////////////////
    Table of Contents
    1. GeneralButton Styles
    2. Media Queries
////////////////////////*/

/* ------------------------------- 1. GeneralButton Styles -------------------------------- */
.general-button {
    width: fit-content;
    padding: 15px 35px;
    border: none;
    border-radius: 35px;
    color: var(--white);
    background-color: var(--header-background);
    font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
}

.general-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.general-button.primary {
    background-color: var(--primary-color);
}

.general-button.home {
    background-color: var(--primary-color-home);
}

.general-button.profile {
    background-color: var(--secondary-color-profile);
}

/* ------------------------------- 2. Media Queries -------------------------------- */
@media screen and (min-width: 992px) {
    .general-button {
        padding: 20px 50px;
        cursor: pointer;
        transition: all .15s ease-in-out;
    }

    .general-button:hover {
        transform: scale(1.03);
    }

    .general-button:disabled {
        transform: none;
    }
}