/*////////////////////////
    Table of Contents
    1. Alertbox Styles
////////////////////////*/

/* ------------------------------- 1. Alertbox Styles -------------------------------- */
.alert-box {
    background-color: var(--global-background);
    opacity: 90%;
    border-radius: 30px;
    color: var(--dark-text);
    text-transform: none;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .15s ease-in-out ;
}