/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 HeaderGeneral
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.illustration-searchbar {
    width: 330px;
}

.illustrated-searchbar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    border: 2px dashed red;
    position: relative;
}

.illustrated-searchbar-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar-outer-container {
    position: absolute;
    bottom: 65px;
    width: 100%;
}

/* ------------------------------- 5. Media Queries -------------------------------- */