/*////////////////////////
    Table of Contents
    1. SearchButton Styles
////////////////////////*/

/* ------------------------------- 1. SearchButton Styles -------------------------------- */
.search-button {
    position: absolute;
    right: 25px;
    top: calc(50% - 16px);
    background-color: transparent;
    border: none;
    cursor: pointer;
}