/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
:root {
    --main-color-profile: #360f5b;
    --light-color-profile: #954bc7;
}
/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.profile-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
    gap: 50px;
}

.profile-details-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-details-title {
    font-weight: 500;
}

.profile-details-item {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
}

.profile-block {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 40px;
    width: 50%;
    border-radius: 20px;
    gap: 50px;
    height: 100%;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */