/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */
.pokemon-card-number {
    color: var(--pokedex-number);
    font-weight: 500;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.pokemon-card {
    display: flex;
    flex-direction: column;
    height: 375px;
    width: 270px;
    background-color: #FFF;
    border-radius: 30px;
    border: 1px solid var(--small-details);
}

.pokemon-card-image-wrapper {
    background-color: var(--dark-text);
    border-radius: 30px 30px 0 0;
    height: 225px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pokemon-card-details {
    padding: 10px 16px;
}

.pokemon-card-image {
    max-height: 180px;
}
/* ------------------------------- 5. Media Queries -------------------------------- */