/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 HeaderGeneral
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */
.pokemon-information-section {
    font-size: 1.375rem;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.large-inner-container.pokemon-overview {
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
}

.pokemon-information-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 410px;
    background-color: #FFF;
    border-radius: 50px;
    width: 55%;
    padding: 35px;
    overflow: hidden;
    flex-shrink: 1;
    gap: 40px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */