/*////////////////////////
    Table of Contents
    1. PokedexDetails Styles
    2. Media Queries
////////////////////////*/

/* ------------------------------- 1. PokedexDetails Styles -------------------------------- */
.pokemon-information-section {
    font-size: 1.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1800px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 55px 0;
}

.pokemon-information-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFF;
    border-radius: 50px;
    width: 100%;
    padding: 35px;
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 1;
}

/* ------------------------------- 2. Media Queries -------------------------------- */
@media screen and (min-width: 768px) {
    .pokemon-information-container {
        gap: 60px;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 992px) {
    .pokemon-information-section {
        max-width: 800px;
    }

    .pokemon-information-container {
        flex-direction: column;
        height: 410px;
        min-width: 650px;
        max-width: 770px;
        gap: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .pokemon-information-section {
        flex-direction: row;
        max-width: 1800px;
    }
}