/*////////////////////////
    Table of Contents
    1. AuthForm Styles
    2. Media Queries
////////////////////////*/

/* ------------------------------- 1. AuthForm Styles -------------------------------- */
.general-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 15px 0;
    font-size: 1.2rem;
}

.auth-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    gap: 5px;
    width: 100%;
}

.auth-logo {
    width: 110px;
}

.auth-background-container {
    position: absolute;
    z-index: -1;
    height: 85px;
    bottom: 0;
    overflow: hidden;
}

.auth-background {
    height: 100%;
}

.auth-link {
    color: #057DA3;
    font-weight: 500;
}

.error-message-form {
    font-weight: 500;
    color: red;
}

.auth-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    font-size: 1.35rem;
}

/* ------------------------------- 2. Media Queries -------------------------------- */
@media screen and (min-width: 768px) {
    .general-form {
        align-items: center;
        font-size: 1rem;
    }

    .auth-content {
        align-items: center;
        width: 410px;
    }

    .auth-logo {
        width: 220px;
    }

    .auth-background-container {
        height: 325px;
        right: 45px;
    }

    .auth-bottom-section {
        align-items: center;
        font-size: 1rem;
    }
}