/*////////////////////////
    Table of Contents
    1. Navigation Styles
    2. Media Queries
////////////////////////*/

/* ------------------------------- 1. Navigation Styles -------------------------------- */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
    padding: 15px 0 0 0;
    font-weight: 700;
    z-index: 2;
    font-size: 1.25rem;
}

.white-logo {
    height: 30px;
}

.nav-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.nav-profile-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 38px;
}

.active-menu-link {
    color: var(--white);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;
}

.default-menu-link {
    color: var(--white);
    text-decoration: none;
}

.profile-button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    cursor: pointer;
    position: relative;
}

.nav-desktop {
    display: none;
}

.nav-dropdown-mobile {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    background-color: var(--header-background);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px var(--general-side-margin);
    z-index: 5;
    border-bottom: 3px solid var(--small-details);
}

.nav-hamburger-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.nav-button-dropdown {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

/* ------------------------------- 2. Media Queries -------------------------------- */
@media screen and (min-width: 992px) {
    nav {
        padding: 5px 0;
        font-size: 1.125rem;
    }

    .white-logo {
        height: 45px;
    }

    .nav-desktop-items {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 100px;
    }

    .nav-pages {
        gap: 100px;
    }

    .active-menu-link {
        text-decoration-thickness: 3px;
    }

    .popup-container {
        position: absolute;
        top: 50px;
        right: 40px;
    }

    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: flex;
    }
}