/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
    padding: 5px 0;
    font-weight: 700;
    border: 2px dashed #7f7fd5;
    z-index: 1;
}

.white-logo {
    height: 45px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 100px;
}

.nav-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.nav-profile-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 38px;
}

.profile-picture {
    width: 32px;
    border-radius: 50%;
}

.active-menu-link {
    color: var(--light-text);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.default-menu-link {
    color: var(--light-text);
    text-decoration: none;
}

/* ------------------------------- 5. Media Queries -------------------------------- */