/*////////////////////////
    Table of Contents
    1. MovesTableItem Styles
    2. Media Queries
////////////////////////*/

/* ------------------------------- 1. MovesTableItem Styles -------------------------------- */
.table-item {
    background-color: #FFF;
    height: 60px;
}

tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/* ------------------------------- 2. Media Queries -------------------------------- */
@media screen and (min-width: 1200px) {
    .table-item {
        height: 75px;
    }

    .result-table-stats {
        text-align: center;
    }

    tr:first-child td:first-child {
        border-top-left-radius: 50px;
    }

    tr:first-child td:last-child {
        border-top-right-radius: 50px;
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 50px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 50px;
    }

}