/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.table-item {
    background-color: #FFF;
    height: 75px;
}

tr:first-child td:first-child { border-top-left-radius: 50px; }
tr:first-child td:last-child { border-top-right-radius: 50px; }
tr:last-child td:first-child { border-bottom-left-radius: 50px; }
tr:last-child td:last-child { border-bottom-right-radius: 50px; }



/* ------------------------------- 5. Media Queries -------------------------------- */