/*////////////////////////
    Table of Contents
    1. Favorites Styles
////////////////////////*/

/* ------------------------------- 1. Favorites Styles -------------------------------- */
.favorites-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 400px;
    margin: 50px 0;
}