/*////////////////////////
    Table of Contents
    1. Footer Styles
////////////////////////*/

/* ------------------------------- 1. Footer Styles -------------------------------- */
footer {
    background-color: var(--header-background);
    color: var(--white);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--general-side-margin);
}

.footer-socials-wrapper {
    display: flex;
    gap: 15px;
}
