/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas

    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */
.stat-name {
    text-transform: uppercase;
    font-weight: 500;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.pokemon-information-section.stats {
    width: 45%;
}

.pokemon-stats-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stat-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.stat-name {
    width: 35%;
}

.stat-value {
    width: 20%;
}

.stat-bar {
    background-color: var(--dark-text);
    flex-grow: 1;
    height: 40px;
}

.stat-fill {
    height: 100%;
    background-color: var(--type-color);
}

/* ------------------------------- 5. Media Queries -------------------------------- */