/*////////////////////////
    Table of Contents
    1. MovesTable Styles
    2. Media Queries
////////////////////////*/

/* ------------------------------- 1. MovesTable Styles -------------------------------- */
.result-table {
    width: 100%;
    border-collapse: collapse;
}

.cell-type-container {
    display: flex;
    justify-content: center;
}

.result-table tbody {
    background-color: #FFF;
}

.moves-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

th:nth-child(1), td:nth-child(1) {
    width: 20%;
    text-align: start;
    padding-left: 10px;
}

th:nth-child(2), td:nth-child(2) {
    width: 30%;
}

th:nth-child(3), td:nth-child(3) {
    width: 10%;
}

th:nth-child(4), td:nth-child(4) {
    width: 10%;
}

th:nth-child(5), td:nth-child(5) {
    width: 10%;
    padding-right: 10px;
}

/* ------------------------------- 2. Media Queries -------------------------------- */
@media screen and (min-width: 1200px) {
    th:nth-child(1), td:nth-child(1) {
        padding-left: 40px;
    }

    th:nth-child(5), td:nth-child(5) {
        width: 10%;
        padding-right: 40px;
    }
}