/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.result-table {
    width: 100%;
    border-collapse: collapse;
}

th:nth-child(1), td:nth-child(1) {
    width: 20%;
    text-align: start;
    padding-left: 40px;
}
th:nth-child(2), td:nth-child(2) { width: 30%; }
th:nth-child(3), td:nth-child(3) { width: 10%; }
th:nth-child(4), td:nth-child(4) { width: 10%; }
th:nth-child(5), td:nth-child(5) {
    width: 10%;
    padding-right: 40px;
}

.result-table-stats {
    text-align: center;
}

.cell-type-container {
    display: flex;
    justify-content: center;
}

.result-table tbody {
    background-color: #FFF;
}

.moves-list {
    border: 2px dashed dodgerblue;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */