/*////////////////////////
    Table of Contents
    1. FavoriteButton Styles
////////////////////////*/

/* ------------------------------- 1. FavoriteButton Styles -------------------------------- */
.favorite-button {
    background-color: var(--global-background);
    border: none;
    position: absolute;
    margin: 10px;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .15s ease-in-out ;
    z-index: 2;
}

.favorite-button:hover {
    transform: scale(1.1);
}
