@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Type colors
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
:root {
    --global-background: #EDEDED;
    --header-background: #3D3D3D;
    --dark-text: #5E5E5E;
    --light-text: #ffffff;
    --small-details: #CCCCCC;
    --pokedex-number: #B0B0B0;
    --normal: #C6C6C6;
    --fire: #FE4646;
    --fighting: #FE7D46;
    --water: #2B84D8;
    --flying: #81C3F2;
    --grass: #2BAC34;
    --poison: #893ABE;
    --electric: #F4C031;
    --ground: #A55A25;
    --psychic: #FF5A83;
    --rock: #B2AA92;
    --ice: #76CED4;
    --bug: #97B43A;
    --dragon: #3C53AD;
    --ghost: #583663;
    --dark: #464646;
    --steel: #6490AF;
    --fairy: #F897DF;
    --general-side-margin: 2.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-family: "Roboto", Arial, serif;
    font-weight: 400;
    font-size: 12px;
}

body {
    background-color: var(--global-background);
    color: var(--dark-text);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

p {
    font-style: normal;
    line-height: 140%;
}

button {
    text-transform: uppercase;
}

button,
input {
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

.error-message {
    background-color: #dc2c2c;
    padding: 20px;
    border-radius: 10px;
    color: var(--light-text);
    width: fit-content;
}

ul {
    list-style: none;
}

/* ------------------------------- 2. Typography ----------------------------------- */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.375rem;
}

h5 {
    font-size: 1.125rem;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 var(--general-side-margin);
    /*border: 2px dashed blue;*/
    overflow: hidden;
}

.small-inner-container {
    display: flex;
    margin: 0 var(--general-side-margin);
    max-width: 1300px;
    width: calc(100% - 2 * var(--general-side-margin));
    z-index: 1;
    flex-grow: 0;
    flex-shrink: 1;
    border: 2px dashed red;
}

.large-inner-container {
    display: flex;
    flex-direction: row;
    max-width: 1800px;
    width: calc(100% - 2 * var(--general-side-margin));
    flex-grow: 0;
    flex-shrink: 1;
    margin: 55px 0;
    border: 2px dashed orange;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
/* --------------- 4.1 Type colors ----------------------- */
.pokemon-type-color.normal {
    --type-color: var(--normal);
}

.pokemon-type-color.fire {
    --type-color: var(--fire);
}

.pokemon-type-color.fighting {
    --type-color: var(--fighting);
}

.pokemon-type-color.water {
    --type-color: var(--water);
}

.pokemon-type-color.flying {
    --type-color: var(--flying);
}

.pokemon-type-color.grass {
    --type-color: var(--grass);
}

.pokemon-type-color.poison {
    --type-color: var(--poison);
}

.pokemon-type-color.electric {
    --type-color: var(--electric);
}

.pokemon-type-color.ground {
    --type-color: var(--ground);
}

.pokemon-type-color.psychic {
    --type-color: var(--psychic);
}

.pokemon-type-color.rock {
    --type-color: var(--rock);
}

.pokemon-type-color.ice {
    --type-color: var(--ice);
}

.pokemon-type-color.bug {
    --type-color: var(--bug);
}

.pokemon-type-color.dragon {
    --type-color: var(--dragon);
}

.pokemon-type-color.ghost {
    --type-color: var(--ghost);
}

.pokemon-type-color.dark {
    --type-color: var(--dark);
}

.pokemon-type-color.steel {
    --type-color: var(--steel);
}

.pokemon-type-color.fairy {
    --type-color: var(--fairy);
}

.pokemon-type-color.none {
    --type-color: #000000;
}

/* ------------------------------- 5. Media Queries -------------------------------- */
@media screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }

    .outer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0 var(--general-side-margin);
    }

    .small-inner-container {
        display: flex;
        /*margin: 0 var(--general-side-margin);*/
        max-width: 1300px;
        /*width: calc(100% - 2 * var(--general-side-margin));*/
        z-index: 1;
        flex-grow: 0;
        flex-shrink: 1;
        border: 2px dashed red;
    }

    .large-inner-container {
        display: flex;
        flex-direction: row;
        max-width: 1800px;
        width: calc(100% - 2 * var(--general-side-margin));
        flex-grow: 0;
        flex-shrink: 1;
        margin: 55px 0;
        border: 2px dashed orange;
    }

}