@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
:root {
  --global-background: #EDEDED;
  --header-background: #3D3D3D;
  --dark-text: #5E5E5E;
  --light-text: #FFF;
  --small-details: #CCCCCC;
  --general-side-margin: 2.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
  font-family: "Roboto", Arial, serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  background-color: var(--global-background);
  color: var(--dark-text);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  line-height: 140%;
}

p {
  font-style: normal;
  line-height: 140%;
}

button {
  text-transform: uppercase;
}

button,
input {
  font-family: inherit;
}

a {
  text-decoration: none;
}

/* ------------------------------- 2. Typography ----------------------------------- */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.375rem;
}

h5, nav {
  font-size: 1.125rem;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 var(--general-side-margin);
  border: 2px dashed blue;
}

.small-inner-container {
  display: flex;
  margin: 0 var(--general-side-margin);
  max-width: 1300px;
  width: calc(100% - 2 * var(--general-side-margin));
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 1;
  border: 2px dashed red;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */