/*////////////////////////
    Table of Contents
    1. Pokedex Styles
////////////////////////*/

/* ------------------------------- 1. Pokedex Styles -------------------------------- */
:root {
    --main-color-pokedex: #4346CF;
    --light-color-pokedex: #FFC3EB;
}

.pokemon-search-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 80px;
    justify-content: space-between;
    max-width: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 55px 0;
}

/*.filter-section {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 40px;*/
/*    width: 24%;*/
/*    margin: 165px 0 0 0;*/
/*    border: 2px dashed deeppink;*/
/*}*/

.pokemon-search {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.search-results-text {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}