/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
:root {
    --main-color-pokedex: #4346CF;
    --light-color-pokedex: #FFC3EB;
}
/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.large-inner-container.pokedex {
    justify-content: space-between;
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 24%;
    margin: 165px 0 0 0;
    border: 2px dashed deeppink;
}

.pokemon-search-section {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 80px;
    border: 2px dashed rebeccapurple;
}

.pokemon-search {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.search-results-text {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* ------------------------------- 5. Media Queries -------------------------------- */