/*////////////////////////
    Table of Contents
    1. Pokedex Styles
////////////////////////*/

/* ------------------------------- 1. Pokedex Styles -------------------------------- */
.pokemon-search-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 80px;
    justify-content: space-between;
    max-width: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 55px 0;
}

.pokemon-search {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.search-results-text {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}