/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas

    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.small-inner-container.pokedex-details {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: dashed 2px lightgreen;
}

.pokemon-details-name {
    margin-bottom: 40px;
}

.pokemon-details-type-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 40px;
    gap: 15px;
    flex-wrap: wrap;
}

.pokemon-details-image-wrapper {
    display: flex;
    border: dashed 2px yellow;
    width: 410px;
    margin: 0 40px;
}

.pokemon-details-image {
    width: 100%;
    z-index: 1;
}

.pokemon-details-description {
    width: 30%;
    padding: 30px;
    border: dashed 2px mediumpurple;
}

.pokedex-colorblock {
    width: 350px;
    height: 350px;
    rotate: 45deg;
    border-radius: 40px;
    position: absolute;
    right: calc(50% - (350px / 2));
    z-index: 0;
    background-color: var(--small-details);
}


/* ------------------------------- 5. Media Queries -------------------------------- */