/*////////////////////////
    Table of Contents
    1. Result Styles
    2. Media Queries
////////////////////////*/

/* ------------------------------- 1. Result Styles -------------------------------- */
.result-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin: 50px 0 25px 0;
    max-width: 900px;
}

.pokemon-grid-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.selected-gen {
    font-size: 1.375rem;
}

/* ------------------------------- 2. Media Queries -------------------------------- */
@media screen and (min-width: 1200px) {
    .pokemon-grid-title {
        flex-direction: row;
        gap: 10px;
    }
}