/*////////////////////////
    Table of Contents
    1. Battlemaster Styles
    2. Media Queries
////////////////////////*/

/* ------------------------------- 1. Battlemaster Styles -------------------------------- */
:root {
    --main-color-battlemaster: #3C3DAA;
    --light-color-battlemaster: #01C1E5;
}

.quiz-question {
    font-weight: 700;
    font-size: 1.25rem;
}

.battlemaster-quiz-container {
    flex-direction: column;
    align-items: center;
    display: flex;
    max-width: 300px;
    width: 100%;
    z-index: 1;
    flex-grow: 0;
    flex-shrink: 1;
}

.battlemaster-quiz {
    margin: 65px 0;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #FFF;
    border-radius: 50px;
    justify-content: space-evenly;
}

.quiz-image {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 50px 50px 0 0;
}

.quiz-questions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding: 20px 10px;
    width: 100%;
}

.quiz-gen-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.quiz-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.searchbar-section.battlemaster {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

/* ------------------------------- 2. Media Queries -------------------------------- */
@media screen and (min-width: 768px) {
    .battlemaster-quiz-container {
        max-width: 600px;
    }

    .battlemaster-quiz {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .quiz-image {
        height: 180px;
    }

    .quiz-questions {
        padding: 20px 30px;
        align-items: flex-start;
    }

    .quiz-gen-container {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .quiz-button-container {
        padding: 20px 0;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .battlemaster-quiz-container {
        max-width: 800px;
    }
}

@media screen and (min-width: 1200px) {
    .battlemaster-quiz-container {
        max-width: 1300px;
    }

    .battlemaster-quiz {
        flex-direction: row;
        height: 460px;
        max-width: 1230px;
        justify-content: space-between;
        align-items: flex-end;
    }

    .quiz-image {
        height: 100%;
        width: 350px;
        object-position: 40%;
        border-radius: 50px 0 0 50px;
    }

    .quiz-questions {
        gap: 45px;
        padding: 75px 0 140px 85px;
    }

    .quiz-gen-container {
        gap: 10px;
        justify-content: flex-start;
    }

    .quiz-button-container {
        padding: 0 55px 40px 0;
        justify-content: flex-end;
        max-width: 225px;
    }

    .searchbar-section.battlemaster {
        width: 400px;
    }
}